<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

        * {
            font-family: "Yatra One", system-ui;
            font-style: normal;
        }
    </style>
</head>

<body>
    <div class="container">
        <h4 class="mt-4 d-flex justify-content-between">
            Search Results
            <a href="/" style="text-decoration: none;font-size:15px;">Home</a>
        </h4>
        <hr />
        <div class="row">
            <% jokes.forEach(joke=> { %>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body" style="height: 90px;">
                            <p class="card-text">
                                <%= joke.joke %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-dark favourite-btn" data-id="<%= joke.id %>"
                                data-text="<%= joke.joke %>">
                                <i class="bi bi-heart" id="heart-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <script>
        document.querySelectorAll('.favourite-btn').forEach(button => {
            button.addEventListener('click', () => {
                const jokeId = button.getAttribute('data-id');
                const jokeText = button.getAttribute('data-text');
                fetch('/favourite', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams({
                        joke_id: jokeId,
                        joke_text: jokeText
                    })
                }).then(response => {
                    if (response.status === 200) {
                        alert('Joke favourited successfully');
                        document.getElementById('heart-icon').classList.remove('bi-heart');
                        document.getElementById('heart-icon').classList.add('bi-heart-fill');

                    } else {
                        alert('Error favouriting joke');
                        console.log(response);
                    }
                });
            });
        });
    </script>
</body>

</html>